<!DOCTYPE html>
<html>
    <head>
          <link href = "/assets/styles.css", rel = "stylesheets", type = "/text/css" />
        </head>
        <body>
            <%- include('./partials/nav.ejs') %>
            <h1>Awesome India</h1>
            <p>Welcome to html</p>
        </body>   
</html>